//@import "../../bower_components/bootstrap/less/bootstrap.less";
 body {
    font-family: "Gotham", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    color: #373737;
    background-color: #fff;
}
/***** HEADER *****/

.header-wrapper {
    background: #516f44;
    //    background: url('../imgs/header-background.jpg') #294536 repeat 50% 50%;
    min-height: 588px;
    color: #fff;
    padding-top: 25px;
}
/***** TOP MENU *****/

.navbar-inverse {
    background-color: transparent;
    border: none;
}
.navbar.navbar-inverse {
    .navbar-brand {
        color: #fff;
        background: url('../imgs/logo.png') transparent no-repeat;
        text-indent: -10000px;
    }
    .navbar-nav>li>a {
        color: #fff;
    }
    .nav.navbar-nav.pull-right {
        font-size: 14px;
    }
    .navbar-nav>li>a.nav-list-button {
        background: #fa6767;
        font-size: 11.5px;
    }
}
/***** PROMO SLIDER *****/

.promo {
    margin: 105px auto;
    margin-bottom: 0;
    h1 {
        font-size: 100px;
    }
    h2 {
        margin-top: -8px;
        font-size: 44px;
    }
    h3 {
        margin: 22px auto;
        display: block;
        font-size: 21px;
        background: rgba(255, 255, 255, 0.3);
        width: 16em;
        padding: 15px;
        border: solid 2px #fff;
    }
    .treat-form {
        padding: 45px;
        margin: 0 auto;
        margin-top: 67px;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        text-align: center;
        .treat-form-input {
            width: 79%;
            font-size: 16.5px;
            border-radius: 0;
            height: 37px;
        }
        .treat-form-button {
            width: 20%;
            font-size: 16.5px;
            border-radius: 0;
            height: 37px;
        }
    }
}
/***** SUB PROMO *****/

.sub-promo {
    margin-bottom: 100px;
    .sub-promo-text {
        text-align: center;
        margin-bottom: 17px;
        h2 {
            font-weight: 700;
            line-height: 36px;
            margin-bottom: 0;
        }
        p {
            //            font-family: sans-serif;
            font-size: 14px;
            font-weight: 200;
            line-height: 24px;
            margin-bottom: 0;
        }
    }
    .sub-promo-colors-line {
        .reddish {
            height: 75px;
            content: ' ';
            background: #fa6767;
        }
        .bluish {
            height: 75px;
            content: ' ';
            background: #80d9f6;
        }
    }
}
/***** Gallery *****/

.gallery {
    width: 86%;
    text-align: center;
    .gallery-menu {
        margin-bottom: 57px;
    }
    ul.nav-pills {
        display: inline-block;
    }
    li {
        display: inline;
    }
    .nav-pills>li:after {
        content: " | "
    }
    .nav-pills>li:last-child:after {
        content: ""
    }
    .nav-pills>li>a {
        color: #373737;
        display: inline;
    }
    .nav-pills>li.active>a {
        color: #fa6767;
        background-color: transparent;
    }
    .gallery-picture {
        background-repeat: no-repeat;
        background-position: center center;
        height: 188px;
        line-height: 188px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-size: 30px;
    }
    .pic-1 {
        background-image: url('../imgs/gallery-picture-1.jpg');
        background-color: #f7f7f5;
        //        background-color: #e3cc58;

    }
    .pic-2 {
        background-image: url('../imgs/gallery-picture-2.jpg');
        background-color: #f7f7f5;
        //        background-color: #484b04;

    }
    .pic-3 {
        background-image: url('../imgs/gallery-picture-3.jpg');
        background-color: #f7f7f5;
    }
    .pic-4 {
        background-image: url('../imgs/gallery-picture-4.jpg');
        background-color: #f7f7f5;
    }
    .pic-5 {
        background-image: url('../imgs/gallery-picture-5.jpg');
        background-color: #f7f7f5;
    }
    .pic-6 {
        background-image: url('../imgs/gallery-picture-6.jpg');
        background-color: #f7f7f5;
    }
    .pic-7 {
        background-image: url('../imgs/gallery-picture-7.jpg');
        background-color: #f7f7f5;
    }
    .pic-8 {
        background-image: url('../imgs/gallery-picture-8.jpg');
        background-color: #f7f7f5;
    }
    .pic-9 {
        background-image: url('../imgs/gallery-picture-9.jpg');
        background-color: #f7f7f5;
    }
    .button-row {
        .btn {
            color: #868484;
            border-radius: 0;
            border: solid 4px #868484;
        }
        margin-top:37px;
        margin-bottom:57px;
    }
}
/***** Why HoliAdvice *****/

.why-holiadvice {
    padding: 35px 28px 53px 45px;
    border: solid 4px #a9a9a9;
    margin-bottom: 68px;
}
.our-specialists {
    .meet-our-specs {
        background-color: #83d1eb;
        height: 201px;
        padding-top: 21px;
        //        line-height: 201px;
        text-align: center;
        vertical-align: middle;
        font-size: 60px;
        color: #fff;
    }
    .gray {
        background-color: #f7f7f5;
        height: 201px;
    }
    .therapy-list {
        background-color: #fa6767;
        height: 201px;
        padding-top: 35px;
    }
    .video {
        background-color: #a14a2e;
        height: 338px;
    }
    .learn-how {
        background-color: #fdc847;
        height: 338px;
        color: #fff;
        padding-top: 90px;
        h2 {
            font-size: 39px;
            margin-top: 0;
        }
        p {
            font-family: sans-serif;
            font-weight: 200;
        }
        .icon-ball {
            height: 31px;
            width: 30px;
            background: url('../imgs/icon-ball.png');
            margin: 0 auto;
        }
    }
}
/***** Our community *****/

.our-community {
    h2 {
        margin-top: 69px;
        margin-bottom: 48px;
        font-size: 36px;
    }
    .guide-me {
        height: 200px;
        background: orange;
        text-align: center;
        vertical-align: middle;
        padding-top: 90px;
    }
    .forum-quote {
        .quote-cite {
            font-size: 18px;
            float: left;
            width: 50%;
            height: 200px;
            background: #b5e08c;
            color: #fff;
            padding: 52px 16px 0;
            font-style: italic;
        }
        .quote-author {
            float: left;
            width: 50%;
            height: 200px;
            background: blue;
            font-size: 14px;
            background: #c3c0bb;
            display: table;
            padding: 9px;
            p {
                font-family: sans-serif;
                font-weight: 200;
                color: #fff;
                display: table-cell;
                vertical-align: bottom;
                text-align: left;
            }
        }
    }
    .consult {
        background: #c3c0bb;
        height: 200px;
    }
}